<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Forgot password</title>
  </head>
  <body>
    <p>Hey, {{name}}</p>
    <p>Your temporary password: <p>{{password}}</p></p>
    <p>This is a temporary password, we recommend changing it.</p>
    <p>Best regards</p>
  </body>
</html>